<h2>List of ratings</h2>

<ul>
  <% @ratings.each do |rating| %>
    <li> <%= render rating %> <%= link_to rating.user.username, rating.user %> </li>
  <% end %>

  <%= link_to 'add new rating', new_rating_path %>
</ul>
