

<%= render @brewery %>

<% if current_user %>
  <div>
    <%= link_to "Edit this brewery", edit_brewery_path(@brewery), class:"btn btn-primary" %> |
    <%= link_to "Back to breweries", breweries_path, class:"btn btn-primary" %>
  
    <%= button_to "Destroy this brewery", @brewery, method: :delete, class:"btn btn-danger" %>
  </div>
<% end %>
