<p style="color: green"><%= notice %></p>

<h1>Beers</h1>.

<p><%= link_to 'list of breweries', breweries_path %></p>

<div id="beers">
  <% @beers.each do |beer| %>
    <%= render beer %>
  <% end %>
</div>

<%= link_to('New Beer', new_beer_path) if current_user %>
