<h2>Beers</h2>

<table id="beertable" class="table table-hover">
  <thead>
    <tr>
      <th> <span style="cursor: pointer" id="name">Name</span> </th>
      <th> <span style="cursor: pointer" id="style">Style</span> </th>
      <th> <span style="cursor: pointer" id="brewery">Brewery</span> </th>
    </tr>
  <thead>
  <tbody>
    <div id="beerlist"></div>
  </tbody>
</table>
